.title a {
  color: #ffffff;
  text-decoration: none;
  transition: var(--transition);
}

.title a:hover {
  color: rgba(243, 253, 253, 0.705);
}

.scrollContainer {
  position: relative;
}

.scrollWrapp {
  width: 1010px;
  min-height: 341px;
  overflow: hidden;
  margin: 0 auto;
}

.wrappForArrow {
  margin: 0 auto;
  width: 1110px;
  position: relative;
}

@media only screen and (max-width: 1160px) {
  .scrollWrapp {
    width: 900px;
    min-height: 301px;
  }
  .wrappForArrow {
    width: 1000px;
  }
}
@media only screen and (max-width: 1055px) {
  .wrappForArrow {
    width: 100%;
  }
}


.cardsWrapp {
  display: flex;
  margin-left: 0px;
  transition: margin-left ease-out 600ms;
}


.beforeArrow, .nextArrow {
  position: absolute;
  top: 33%;
  width: 2.8rem;
  height: 2.8rem;
  background: none;
  border: none;
  transition: var(--transition);
  cursor: pointer;
}
.beforeArrow svg, .nextArrow svg {
  fill:#ffffff;
  transition: var(--transition);
}
.beforeArrow:hover svg, .nextArrow:hover svg {
  fill:rgba(243, 253, 253, 0.705);
  transform: scale(1.2);
}
.beforeArrow:active svg, .nextArrow:active svg {
  transform: scale(1);
}

.beforeArrow {
  left: 0px;
  transform: rotate(-180deg);
}

.nextArrow {
  right: 0px;
}

@media only screen and (max-width: 1024px) {
  .scrollWrapp {
    width: 100%;  
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollWrapp::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .beforeArrow, .nextArrow {
    display: none;
  }
}